.message-left {
  width: auto;
  display: flex;
  flex-flow: row;
  margin-left: 12px;

}

.message-right {


  width: auto;
  display: flex;
  flex-flow: row-reverse;
  margin-right: 12px;


}


.message-body {
  display: flex;
  flex-flow: column;
  border: 1px solid #008ba3;
  border-radius: 8px;
  margin: 4px;

  padding: 4px;
  max-width: 500px;
}

.left {
  border: 1px solid #cc8ba3;

}

.right {
  border: 1px solid #008ba3;

}

.text {
  padding-right: 12px;


}

.time {
  color: black;
  font-size: 8px;
}
